<a href="https://colab.research.google.com/github/rifyalt/digitalskola/blob/main/API_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Library

In [ ]:
import pandas as pd, requests

In [ ]:
url = 'http://api.open-notify.org/astros.json'
response = requests.get(url)

In [ ]:
response.status_code

200

In [ ]:
dict1 = response.json()
dict1

{'message': 'success',
 'number': 7,
 'people': [{'craft': 'ISS', 'name': 'Sergey Ryzhikov'},
  {'craft': 'ISS', 'name': 'Kate Rubins'},
  {'craft': 'ISS', 'name': 'Sergey Kud-Sverchkov'},
  {'craft': 'ISS', 'name': 'Mike Hopkins'},
  {'craft': 'ISS', 'name': 'Victor Glover'},
  {'craft': 'ISS', 'name': 'Shannon Walker'},
  {'craft': 'ISS', 'name': 'Soichi Noguchi'}]}

In [ ]:
dict1['people'][1]['name']

'Kate Rubins'

# Data Processing

## Looping

In [ ]:
dict1

{'message': 'success',
 'number': 7,
 'people': [{'craft': 'ISS', 'name': 'Sergey Ryzhikov'},
  {'craft': 'ISS', 'name': 'Kate Rubins'},
  {'craft': 'ISS', 'name': 'Sergey Kud-Sverchkov'},
  {'craft': 'ISS', 'name': 'Mike Hopkins'},
  {'craft': 'ISS', 'name': 'Victor Glover'},
  {'craft': 'ISS', 'name': 'Shannon Walker'},
  {'craft': 'ISS', 'name': 'Soichi Noguchi'}]}

In [ ]:
message = dict1['message']
number = dict1['number']

In [ ]:
temp = []
for obj in dict1['people']:
    craft = obj['craft']
    name = obj['name']
    row = [message, number, craft, name]
    temp.append(row)
df1 = pd.DataFrame(temp, columns=['message', 'number', 'craft', 'name'])
df1

   message  number craft                  name
0  success       7   ISS       Sergey Ryzhikov
1  success       7   ISS           Kate Rubins
2  success       7   ISS  Sergey Kud-Sverchkov
3  success       7   ISS          Mike Hopkins
4  success       7   ISS         Victor Glover
5  success       7   ISS        Shannon Walker
6  success       7   ISS        Soichi Noguchi

## Cross Join

In [ ]:
dict1

{'message': 'success',
 'number': 7,
 'people': [{'craft': 'ISS', 'name': 'Sergey Ryzhikov'},
  {'craft': 'ISS', 'name': 'Kate Rubins'},
  {'craft': 'ISS', 'name': 'Sergey Kud-Sverchkov'},
  {'craft': 'ISS', 'name': 'Mike Hopkins'},
  {'craft': 'ISS', 'name': 'Victor Glover'},
  {'craft': 'ISS', 'name': 'Shannon Walker'},
  {'craft': 'ISS', 'name': 'Soichi Noguchi'}]}

In [ ]:
dict_base = {'message': [dict1['message']], 'number': [dict1['number']]}
base = pd.DataFrame(dict_base)
base

   message  number
0  success       7

In [ ]:
people = pd.DataFrame(dict1['people'])
people

  craft                  name
0   ISS       Sergey Ryzhikov
1   ISS           Kate Rubins
2   ISS  Sergey Kud-Sverchkov
3   ISS          Mike Hopkins
4   ISS         Victor Glover
5   ISS        Shannon Walker
6   ISS        Soichi Noguchi

In [ ]:
# Add Key
base['key'] = 1
people['key'] = 1
df2 = pd.merge(base, people, on='key').drop('key', axis=1)
df2

   message  number craft                  name
0  success       7   ISS       Sergey Ryzhikov
1  success       7   ISS           Kate Rubins
2  success       7   ISS  Sergey Kud-Sverchkov
3  success       7   ISS          Mike Hopkins
4  success       7   ISS         Victor Glover
5  success       7   ISS        Shannon Walker
6  success       7   ISS        Soichi Noguchi

# Alphavantage

In [ ]:
url_alpha = 'https://www.alphavantage.co/query?'
queries = {
    'function': 'TIME_SERIES_DAILY_ADJUSTED',
    'symbol': 'GOOG',
    'apikey': 'XVV7I3GHUW42LTO4'
}
response = requests.get(url_alpha, params=queries)
response.status_code

200

In [ ]:
stocks = response.json()
stocks

{'Meta Data': {'1. Information': 'Daily Time Series with Splits and Dividend Events',
  '2. Symbol': 'GOOG',
  '3. Last Refreshed': '2021-02-19',
  '4. Output Size': 'Compact',
  '5. Time Zone': 'US/Eastern'},
 'Time Series (Daily)': {'2020-09-28': {'1. open': '1474.21',
   '2. high': '1476.8',
   '3. low': '1449.3012',
   '4. close': '1464.52',
   '5. adjusted close': '1464.52',
   '6. volume': '2007941',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-09-29': {'1. open': '1470.39',
   '2. high': '1476.6632',
   '3. low': '1458.805',
   '4. close': '1469.33',
   '5. adjusted close': '1469.33',
   '6. volume': '979102',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-09-30': {'1. open': '1466.8',
   '2. high': '1489.75',
   '3. low': '1459.88',
   '4. close': '1469.6',
   '5. adjusted close': '1469.6',
   '6. volume': '1701608',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-10-01': {'1. open': '1484.27',
   '2. high': '1499.04',
   '3. low': '1479.21',
   '4. close': '1490.09',
   '5. adjusted close': '1490.09',
   '6. volume': '1779497',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-10-02': {'1. open': '1462.03',
   '2. high': '1483.2',
   '3. low': '1450.92',
   '4. close': '1458.42',
   '5. adjusted close': '1458.42',
   '6. volume': '1284071',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-10-05': {'1. open': '1466.21',
   '2. high': '1488.21',
   '3. low': '1464.27',
   '4. close': '1486.02',
   '5. adjusted close': '1486.02',
   '6. volume': '1113257',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-10-06': {'1. open': '1475.58',
   '2. high': '1486.76',
   '3. low': '1448.5901',
   '4. close': '1453.44',
   '5. adjusted close': '1453.44',
   '6. volume': '1245423',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-10-07': {'1. open': '1464.29',
   '2. high': '1468.96',
   '3. low': '1436.0',
   '4. close': '1460.29',
   '5. adjusted close': '1460.29',
   '6. volume': '1746156',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-10-08': {'1. open': '1465.09',
   '2. high': '1490.0',
   '3. low': '1465.09',
   '4. close': '1485.93',
   '5. adjusted close': '1485.93',
   '6. volume': '1187831',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-10-09': {'1. open': '1494.7',
   '2. high': '1516.52',
   '3. low': '1489.45',
   '4. close': '1515.22',
   '5. adjusted close': '1515.22',
   '6. volume': '1435542',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-10-12': {'1. open': '1543.0',
   '2. high': '1593.86',
   '3. low': '1532.57',
   '4. close': '1569.15',
   '5. adjusted close': '1569.15',
   '6. volume': '2482560',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-10-13': {'1. open': '1583.73',
   '2. high': '1590.0',
   '3. low': '1563.2',
   '4. close': '1571.68',
   '5. adjusted close': '1571.68',
   '6. volume': '1601043',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-10-14': {'1. open': '1578.59',
   '2. high': '1587.6841',
   '3. low': '1550.53',
   '4. close': '1568.08',
   '5. adjusted close': '1568.08',
   '6. volume': '1930990',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-10-15': {'1. open': '1547.15',
   '2. high': '1575.105',
   '3. low': '1545.03',
   '4. close': '1559.13',
   '5. adjusted close': '1559.13',
   '6. volume': '1540817',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-10-16': {'1. open': '1565.85',
   '2. high': '1581.13',
   '3. low': '1563.0',
   '4. close': '1573.01',
   '5. adjusted close': '1573.01',
   '6. volume': '1435137',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-10-19': {'1. open': '1580.46',
   '2. high': '1588.15',
   '3. low': '1528.0',
   '4. close': '1534.61',
   '5. adjusted close': '1534.61',
   '6. volume': '1607075',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-10-20': {'1. open': '1527.05',
   '2. high': '1577.5',
   '3. low': '1525.67',
   '4. close': '1555.93',
   '5. adjusted close': '1555.93',
   '6. volume': '2242572',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-10-21': {'1. open': '1573.33',
   '2. high': '1618.73',
   '3. low': '1571.6301',
   '4. close': '1593.31',
   '5. adjusted close': '1593.31',
   '6. volume': '2568345',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-10-22': {'1. open': '1593.05',
   '2. high': '1621.99',
   '3. low': '1585.0',
   '4. close': '1615.33',
   '5. adjusted close': '1615.33',
   '6. volume': '1434042',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-10-23': {'1. open': '1626.07',
   '2. high': '1642.36',
   '3. low': '1620.51',
   '4. close': '1641.0',
   '5. adjusted close': '1641.0',
   '6. volume': '1375844',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-10-26': {'1. open': '1625.01',
   '2. high': '1638.24',
   '3. low': '1576.5',
   '4. close': '1590.45',
   '5. adjusted close': '1590.45',
   '6. volume': '1853254',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-10-27': {'1. open': '1595.67',
   '2. high': '1606.845',
   '3. low': '1582.78',
   '4. close': '1604.26',
   '5. adjusted close': '1604.26',
   '6. volume': '1229002',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-10-28': {'1. open': '1559.74',
   '2. high': '1561.35',
   '3. low': '1514.62',
   '4. close': '1516.62',
   '5. adjusted close': '1516.62',
   '6. volume': '1833959',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-10-29': {'1. open': '1522.36',
   '2. high': '1593.71',
   '3. low': '1522.24',
   '4. close': '1567.24',
   '5. adjusted close': '1567.24',
   '6. volume': '2003064',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-10-30': {'1. open': '1672.11',
   '2. high': '1687.0',
   '3. low': '1604.46',
   '4. close': '1621.01',
   '5. adjusted close': '1621.01',
   '6. volume': '4330862',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-11-02': {'1. open': '1628.16',
   '2. high': '1660.77',
   '3. low': '1616.03',
   '4. close': '1626.03',
   '5. adjusted close': '1626.03',
   '6. volume': '2535446',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-11-03': {'1. open': '1631.78',
   '2. high': '1661.7',
   '3. low': '1616.6201',
   '4. close': '1650.21',
   '5. adjusted close': '1650.21',
   '6. volume': '1661653',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-11-04': {'1. open': '1710.28',
   '2. high': '1771.365',
   '3. low': '1706.0301',
   '4. close': '1749.13',
   '5. adjusted close': '1749.13',
   '6. volume': '3570927',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-11-05': {'1. open': '1781.0',
   '2. high': '1793.64',
   '3. low': '1750.51',
   '4. close': '1763.37',
   '5. adjusted close': '1763.37',
   '6. volume': '2065812',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-11-06': {'1. open': '1753.95',
   '2. high': '1772.43',
   '3. low': '1740.35',
   '4. close': '1761.75',
   '5. adjusted close': '1761.75',
   '6. volume': '1661225',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-11-09': {'1. open': '1790.9',
   '2. high': '1818.06',
   '3. low': '1760.02',
   '4. close': '1763.0',
   '5. adjusted close': '1763.0',
   '6. volume': '2268270',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-11-10': {'1. open': '1731.09',
   '2. high': '1763.0',
   '3. low': '1717.3',
   '4. close': '1740.39',
   '5. adjusted close': '1740.39',
   '6. volume': '2636142',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-11-11': {'1. open': '1750.0',
   '2. high': '1764.22',
   '3. low': '1747.365',
   '4. close': '1752.71',
   '5. adjusted close': '1752.71',
   '6. volume': '1263966',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-11-12': {'1. open': '1747.63',
   '2. high': '1768.27',
   '3. low': '1745.6',
   '4. close': '1749.84',
   '5. adjusted close': '1749.84',
   '6. volume': '1248754',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-11-13': {'1. open': '1757.63',
   '2. high': '1781.04',
   '3. low': '1744.55',
   '4. close': '1777.02',
   '5. adjusted close': '1777.02',
   '6. volume': '1500574',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-11-16': {'1. open': '1771.7',
   '2. high': '1799.07',
   '3. low': '1767.69',
   '4. close': '1781.38',
   '5. adjusted close': '1781.38',
   '6. volume': '1246785',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-11-17': {'1. open': '1776.94',
   '2. high': '1785.0',
   '3. low': '1767.0',
   '4. close': '1770.15',
   '5. adjusted close': '1770.15',
   '6. volume': '1147114',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-11-18': {'1. open': '1765.23',
   '2. high': '1773.47',
   '3. low': '1746.14',
   '4. close': '1746.78',
   '5. adjusted close': '1746.78',
   '6. volume': '1173466',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-11-19': {'1. open': '1738.38',
   '2. high': '1769.5897',
   '3. low': '1737.005',
   '4. close': '1763.92',
   '5. adjusted close': '1763.92',
   '6. volume': '1249910',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-11-20': {'1. open': '1765.21',
   '2. high': '1774.0',
   '3. low': '1741.86',
   '4. close': '1742.19',
   '5. adjusted close': '1742.19',
   '6. volume': '2313655',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-11-23': {'1. open': '1749.6',
   '2. high': '1753.9',
   '3. low': '1717.72',
   '4. close': '1734.86',
   '5. adjusted close': '1734.86',
   '6. volume': '2161975',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-11-24': {'1. open': '1730.5',
   '2. high': '1771.6',
   '3. low': '1727.69',
   '4. close': '1768.88',
   '5. adjusted close': '1768.88',
   '6. volume': '1491698',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-11-25': {'1. open': '1772.89',
   '2. high': '1778.54',
   '3. low': '1756.54',
   '4. close': '1771.43',
   '5. adjusted close': '1771.43',
   '6. volume': '1046122',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-11-27': {'1. open': '1773.09',
   '2. high': '1804.0',
   '3. low': '1772.44',
   '4. close': '1793.19',
   '5. adjusted close': '1793.19',
   '6. volume': '884916',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-11-30': {'1. open': '1781.1844',
   '2. high': '1788.065',
   '3. low': '1755.0',
   '4. close': '1760.74',
   '5. adjusted close': '1760.74',
   '6. volume': '1823836',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-12-01': {'1. open': '1774.37',
   '2. high': '1824.83',
   '3. low': '1769.37',
   '4. close': '1798.1',
   '5. adjusted close': '1798.1',
   '6. volume': '1693593',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-12-02': {'1. open': '1798.1',
   '2. high': '1835.65',
   '3. low': '1789.4725',
   '4. close': '1827.95',
   '5. adjusted close': '1827.95',
   '6. volume': '1222032',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-12-03': {'1. open': '1824.01',
   '2. high': '1847.2',
   '3. low': '1822.65',
   '4. close': '1826.77',
   '5. adjusted close': '1826.77',
   '6. volume': '1227298',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-12-04': {'1. open': '1824.52',
   '2. high': '1833.16',
   '3. low': '1816.99',
   '4. close': '1827.99',
   '5. adjusted close': '1827.99',
   '6. volume': '1378166',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-12-07': {'1. open': '1819.0',
   '2. high': '1832.37',
   '3. low': '1805.78',
   '4. close': '1819.48',
   '5. adjusted close': '1819.48',
   '6. volume': '1320946',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-12-08': {'1. open': '1810.1',
   '2. high': '1821.9',
   '3. low': '1796.2047',
   '4. close': '1818.55',
   '5. adjusted close': '1818.55',
   '6. volume': '1096319',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-12-09': {'1. open': '1812.01',
   '2. high': '1834.27',
   '3. low': '1767.81',
   '4. close': '1784.13',
   '5. adjusted close': '1784.13',
   '6. volume': '1507558',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-12-10': {'1. open': '1769.8',
   '2. high': '1781.31',
   '3. low': '1740.32',
   '4. close': '1775.33',
   '5. adjusted close': '1775.33',
   '6. volume': '1362848',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-12-11': {'1. open': '1763.06',
   '2. high': '1784.45',
   '3. low': '1760.0',
   '4. close': '1781.77',
   '5. adjusted close': '1781.77',
   '6. volume': '1220651',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-12-14': {'1. open': '1775.0',
   '2. high': '1797.39',
   '3. low': '1757.215',
   '4. close': '1760.06',
   '5. adjusted close': '1760.06',
   '6. volume': '1600173',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-12-15': {'1. open': '1764.42',
   '2. high': '1771.42',
   '3. low': '1749.95',
   '4. close': '1767.77',
   '5. adjusted close': '1767.77',
   '6. volume': '1482261',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-12-16': {'1. open': '1772.88',
   '2. high': '1773.0',
   '3. low': '1756.08',
   '4. close': '1763.0',
   '5. adjusted close': '1763.0',
   '6. volume': '1513543',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-12-17': {'1. open': '1768.51',
   '2. high': '1771.7836',
   '3. low': '1738.66',
   '4. close': '1747.9',
   '5. adjusted close': '1747.9',
   '6. volume': '1624744',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-12-18': {'1. open': '1754.18',
   '2. high': '1755.11',
   '3. low': '1720.22',
   '4. close': '1731.01',
   '5. adjusted close': '1731.01',
   '6. volume': '4016353',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-12-21': {'1. open': '1713.51',
   '2. high': '1740.85',
   '3. low': '1699.0',
   '4. close': '1739.37',
   '5. adjusted close': '1739.37',
   '6. volume': '1828378',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-12-22': {'1. open': '1734.43',
   '2. high': '1737.405',
   '3. low': '1712.575',
   '4. close': '1723.5',
   '5. adjusted close': '1723.5',
   '6. volume': '938346',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-12-23': {'1. open': '1728.11',
   '2. high': '1747.99',
   '3. low': '1725.04',
   '4. close': '1732.38',
   '5. adjusted close': '1732.38',
   '6. volume': '1033917',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-12-24': {'1. open': '1735.0',
   '2. high': '1746.0',
   '3. low': '1729.11',
   '4. close': '1738.85',
   '5. adjusted close': '1738.85',
   '6. volume': '346753',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-12-28': {'1. open': '1751.635',
   '2. high': '1790.7276',
   '3. low': '1746.335',
   '4. close': '1776.09',
   '5. adjusted close': '1776.09',
   '6. volume': '1390962',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-12-29': {'1. open': '1787.79',
   '2. high': '1792.44',
   '3. low': '1756.09',
   '4. close': '1758.72',
   '5. adjusted close': '1758.72',
   '6. volume': '1299395',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-12-30': {'1. open': '1762.01',
   '2. high': '1765.095',
   '3. low': '1725.6',
   '4. close': '1739.52',
   '5. adjusted close': '1739.52',
   '6. volume': '1306130',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2020-12-31': {'1. open': '1735.42',
   '2. high': '1758.93',
   '3. low': '1735.42',
   '4. close': '1751.88',
   '5. adjusted close': '1751.88',
   '6. volume': '1012240',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2021-01-04': {'1. open': '1757.54',
   '2. high': '1760.65',
   '3. low': '1707.85',
   '4. close': '1728.24',
   '5. adjusted close': '1728.24',
   '6. volume': '1901855',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2021-01-05': {'1. open': '1725.0',
   '2. high': '1747.67',
   '3. low': '1718.015',
   '4. close': '1740.92',
   '5. adjusted close': '1740.92',
   '6. volume': '1145347',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2021-01-06': {'1. open': '1702.63',
   '2. high': '1748.0',
   '3. low': '1699.0',
   '4. close': '1735.29',
   '5. adjusted close': '1735.29',
   '6. volume': '2602114',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2021-01-07': {'1. open': '1740.06',
   '2. high': '1788.4',
   '3. low': '1737.05',
   '4. close': '1787.25',
   '5. adjusted close': '1787.25',
   '6. volume': '2265022',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2021-01-08': {'1. open': '1787.98',
   '2. high': '1809.84',
   '3. low': '1773.535',
   '4. close': '1807.21',
   '5. adjusted close': '1807.21',
   '6. volume': '2051002',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2021-01-11': {'1. open': '1786.07',
   '2. high': '1794.315',
   '3. low': '1760.5201',
   '4. close': '1766.72',
   '5. adjusted close': '1766.72',
   '6. volume': '1209735',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2021-01-12': {'1. open': '1753.92',
   '2. high': '1778.04',
   '3. low': '1725.31',
   '4. close': '1746.55',
   '5. adjusted close': '1746.55',
   '6. volume': '1356464',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2021-01-13': {'1. open': '1738.58',
   '2. high': '1765.035',
   '3. low': '1738.01',
   '4. close': '1754.4',
   '5. adjusted close': '1754.4',
   '6. volume': '1094131',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2021-01-14': {'1. open': '1753.62',
   '2. high': '1775.01',
   '3. low': '1733.4',
   '4. close': '1740.18',
   '5. adjusted close': '1740.18',
   '6. volume': '1179477',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2021-01-15': {'1. open': '1738.19',
   '2. high': '1756.0',
   '3. low': '1721.55',
   '4. close': '1736.19',
   '5. adjusted close': '1736.19',
   '6. volume': '1342170',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2021-01-19': {'1. open': '1752.25',
   '2. high': '1809.275',
   '3. low': '1741.46',
   '4. close': '1790.86',
   '5. adjusted close': '1790.86',
   '6. volume': '1734614',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2021-01-20': {'1. open': '1831.46',
   '2. high': '1903.71',
   '3. low': '1825.53',
   '4. close': '1886.9',
   '5. adjusted close': '1886.9',
   '6. volume': '2490258',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2021-01-21': {'1. open': '1898.0',
   '2. high': '1934.86',
   '3. low': '1887.11',
   '4. close': '1891.25',
   '5. adjusted close': '1891.25',
   '6. volume': '2063932',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'},
  '2021-01-22': {'1. open': '1895.68',
   '2. high': '1910.95',
   '3. low': '1881.76',
   '4. close': '1901.05',

## Looping

In [ ]:
symbol = stocks['Meta Data']['2. Symbol']
timezone = stocks['Meta Data']['5. Time Zone']

timeseries = stocks['Time Series (Daily)']

In [ ]:
dates = list(timeseries.keys())
temp = []
for date in dates:
    open      = timeseries[date]['1. open']
    high      = timeseries[date]['2. high']
    low       = timeseries[date]['3. low']
    close     = timeseries[date]['4. close']
    adj_close = timeseries[date]['5. adjusted close']
    vol       = timeseries[date]['6. volume']
    div       = timeseries[date]['7. dividend amount']
    split     = timeseries[date]['8. split coefficient']
    row = [symbol, timezone, date, open, low, high, close, adj_close, vol, div, split]
    temp.append(row)
df3 = pd.DataFrame(temp, 
                   columns=['symbol', 'timezone', 'date', 'open', 'low', 'high',
                            'close', 'adj_close', 'vol', 'div', 'split'])
df3.head()

  symbol    timezone        date     open  ... adj_close      vol     div split
0   GOOG  US/Eastern  2021-02-19  2119.27  ...   2101.14  1457612  0.0000   1.0
1   GOOG  US/Eastern  2021-02-18  2110.39  ...    2117.2  1121855  0.0000   1.0
2   GOOG  US/Eastern  2021-02-17   2100.0  ...   2128.31  1020252  0.0000   1.0
3   GOOG  US/Eastern  2021-02-16  2104.36  ...    2121.9  1133838  0.0000   1.0
4   GOOG  US/Eastern  2021-02-12  2090.25  ...   2104.11   855865  0.0000   1.0

[5 rows x 11 columns]

## Cross Join

In [ ]:
symbol = stocks['Meta Data']['2. Symbol']
timezone = stocks['Meta Data']['5. Time Zone']
dict_base = {'symbol': [symbol], 'timezone': [timezone]}
base = pd.DataFrame(dict_base)
base

  symbol    timezone
0   GOOG  US/Eastern

In [ ]:
dict_time = stocks['Time Series (Daily)']
prices = pd.DataFrame(dict_time).T.reset_index()
prices.head()

        index  1. open  ... 7. dividend amount 8. split coefficient
0  2021-02-19  2119.27  ...             0.0000                  1.0
1  2021-02-18  2110.39  ...             0.0000                  1.0
2  2021-02-17   2100.0  ...             0.0000                  1.0
3  2021-02-16  2104.36  ...             0.0000                  1.0
4  2021-02-12  2090.25  ...             0.0000                  1.0

[5 rows x 9 columns]

In [ ]:
base['key'] = 1
prices['key'] = 1
result = pd.merge(base, prices, on='key').drop('key', axis=1)
result.head()

  symbol    timezone  ... 7. dividend amount 8. split coefficient
0   GOOG  US/Eastern  ...             0.0000                  1.0
1   GOOG  US/Eastern  ...             0.0000                  1.0
2   GOOG  US/Eastern  ...             0.0000                  1.0
3   GOOG  US/Eastern  ...             0.0000                  1.0
4   GOOG  US/Eastern  ...             0.0000                  1.0

[5 rows x 11 columns]

In [ ]:
result.columns = ['symbol', 'timezone', 'date', 'open', 'low', 'high', 'close', 'adj_close', 'vol', 'div', 'split']
result.head()

  symbol    timezone        date     open  ... adj_close      vol     div split
0   GOOG  US/Eastern  2021-02-19  2119.27  ...   2101.14  1457612  0.0000   1.0
1   GOOG  US/Eastern  2021-02-18  2110.39  ...    2117.2  1121855  0.0000   1.0
2   GOOG  US/Eastern  2021-02-17   2100.0  ...   2128.31  1020252  0.0000   1.0
3   GOOG  US/Eastern  2021-02-16  2104.36  ...    2121.9  1133838  0.0000   1.0
4   GOOG  US/Eastern  2021-02-12  2090.25  ...   2104.11   855865  0.0000   1.0

[5 rows x 11 columns]